<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Cleaning Platform</title>
    <style>
        nav {
            display: flex;
            align-items: center;
        }

        hr {
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <h1>Company Cleaning Platform</h1>
            <div style="margin-left: 30px;" class="logo">Logo</div>
        </nav>
    </header>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>